header {
  position: sticky;   /* 🔥 IMPORTANT */
  top: 0;
  width: 100%;
  height: auto;       /* 🔥 REMOVE full height */
  z-index: 10;
}  
.header h1 {
  margin: 0;
}   

body {
  margin: 0;
}

router-outlet {
  display: block;
  margin-top: 50px; 

}
.main-content {
  padding-top: 20px;
}
